:host
  background #fff
  flex-shrink 1
  width 20%
  overflow none

  display flex
  flex-direction column

ul, p
  margin 0
  padding 0

ul
  list-style none

input, button
  box-sizing border-box
  width 100%
