:host
  background #fff
  width 20%
  min-width: 400px
  overflow auto

  display flex
  flex-direction column

p
  margin 0
  padding 0
  display flex

h1, input, button, .error
  padding 0.5rem

input, button, .error
  flex 1
  font-size 1.2rem

.equation button
  flex 0

.error
  flex 0
  color red
